.place-card__like-button {
    display: flex;
    width: 22px;
    height: 19px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../../images/Like-button.svg);
    margin: auto;
    padding: 0;
    border: none;
    background-color: white;
}
.place-card__like-button:hover{
    opacity: 0.6;
    cursor:pointer;
    
}
.place-card__like-button:disabled{
    background-image: url(../../../images/Like-button.svg);
}
.place-card__like-button:active{
    background-image: url(../../../images/like-active-button.svg);
    opacity: 1;
}