@font-face
{
    font-family: 'Alegreya Sans SC';
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;

    src: url('https://pictures.s3.yandex.net/trainer-fonts/AlegreyaSansSC-Bold.woff2') format('woff2'), url('https://pictures.s3.yandex.net/trainer-fonts/AlegreyaSansSC-Bold.woff') format('woff');
}

@font-face
{
    font-family: 'Anonymous Pro';
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;

    src: url('https://pictures.s3.yandex.net/trainer-fonts/AnonymousPro-Bold.woff2') format('woff2'), url('https://pictures.s3.yandex.net/trainer-fonts/AnonymousPro-Bold.woff') format('woff');
}

@font-face
{
    font-family: 'Fira Sans';
    font-style: normal;
    font-stretch: normal;

    src: url('https://pictures.s3.yandex.net/trainer-fonts/FiraSans-Regular.woff2') format('woff2'), url('https://pictures.s3.yandex.net/trainer-fonts/FiraSans-Regular.woff') format('woff');
}

@font-face
{
    font-family: Pacifico;
    font-style: normal;
    font-stretch: normal;

    src: url('https://pictures.s3.yandex.net/trainer-fonts/Pacifico-Regular.woff2') format('woff2'), url('https://pictures.s3.yandex.net/trainer-fonts/Pacifico-Regular.woff') format('woff');
}

@font-face
{
    font-family: 'Playfair Display';
    font-style: normal;
    font-stretch: normal;

    src: url('https://pictures.s3.yandex.net/trainer-fonts/PlayfairDisplaySC-Black.woff2') format('woff2'), url('https://pictures.s3.yandex.net/trainer-fonts/PlayfairDisplaySC-Black.woff') format('woff');
}

@font-face
{
    font-family: 'Prosto One';
    font-style: normal;
    font-stretch: normal;

    src: url('https://pictures.s3.yandex.net/trainer-fonts/ProstoOne-Regular.woff2') format('woff2'), url('https://pictures.s3.yandex.net/trainer-fonts/ProstoOne-Regular.woff') format('woff');
}

@font-face
{
    font-family: 'PT Mono';
    font-style: normal;
    font-stretch: normal;

    src: url('https://pictures.s3.yandex.net/trainer-fonts/PTMono.woff2') format('woff2'), url('https://pictures.s3.yandex.net/trainer-fonts/PTMono.woff') format('woff');
}

@font-face
{
    font-family: 'Alegreya Sans';
    font-style: normal;
    font-stretch: normal;

    src: url('https://pictures.s3.yandex.net/trainer-fonts/Alegreyasans.woff2') format('woff2'), url('https://pictures.s3.yandex.net/trainer-fonts/Alegreyasans.woff') format('woff');
}

@font-face
{
    font-family: 'Arimo';
    font-style: normal;
    font-stretch: normal;

    src: url('https://pictures.s3.yandex.net/trainer-fonts/arimo.woff2') format('woff2'), url('https://pictures.s3.yandex.net/trainer-fonts/arimo.woff') format('woff');
}

@font-face
{
    font-family: 'EB Garamond';
    font-style: normal;
    font-stretch: normal;

    src: url('https://pictures.s3.yandex.net/trainer-fonts/Ebgaramondregular.woff2') format('woff2'), url('https://pictures.s3.yandex.net/trainer-fonts/Ebgaramondregular.woff') format('woff');
}

@font-face
{
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-stretch: normal;

    src: url('https://pictures.s3.yandex.net/trainer-fonts/Cormorantgaramond.woff2') format('woff2'), url('https://pictures.s3.yandex.net/trainer-fonts/Cormorantgaramond.woff') format('woff');
}

@font-face
{
    font-family: 'PT Sans';
    font-style: normal;
    font-stretch: normal;

    src: url('https://pictures.s3.yandex.net/trainer-fonts/ptsans.woff2') format('woff2'), url('https://pictures.s3.yandex.net/trainer-fonts/ptsans.woff') format('woff');
}

@font-face
{
    font-family: 'PT Serif';
    font-style: normal;
    font-stretch: normal;

    src: url('https://pictures.s3.yandex.net/trainer-fonts/ptserif.woff2') format('woff2'), url('https://pictures.s3.yandex.net/trainer-fonts/ptserif.woff') format('woff');
}

@font-face
{
    font-family: 'Rubik';
    font-style: normal;
    font-stretch: normal;

    src: url('https://pictures.s3.yandex.net/trainer-fonts/Rubik.woff2') format('woff2'), url('https://pictures.s3.yandex.net/trainer-fonts/Rubik.woff') format('woff');
}

@font-face
{
    font-family: 'Spectral SC';
    font-style: normal;
    font-stretch: normal;

    src: url('https://pictures.s3.yandex.net/trainer-fonts/Spectralscregular.woff2') format('woff2'), url('https://pictures.s3.yandex.net/trainer-fonts/Spectralscregular.woff') format('woff');
}

@font-face
{
    font-family: 'William';
    font-style: normal;
    font-stretch: normal;

    src: url('https://code.s3.yandex.net/fonts/front/WilliamNormal.woff2') format('woff2'), url('https://code.s3.yandex.net/fonts/front/WilliamNormal.woff') format('woff');
}

@font-face
{
    font-family: 'William';
    font-style: italic;
    font-stretch: normal;

    src: url('https://code.s3.yandex.net/fonts/front/WilliamItalic.woff2') format('woff2'), url('https://code.s3.yandex.net/fonts/front/WilliamItalic.woff') format('woff');
}

@font-face
{
    font-family: 'Inter';
    font-style: normal;
    font-stretch: normal;
    font-weight: 400;

    src: url('https://code.s3.yandex.net/fonts/front/Inter-Regular.woff2') format('woff2'), url('https://code.s3.yandex.net/fonts/front/Inter-Regular.woff') format('woff');
}

@font-face
{
    font-family: 'Inter';
    font-style: normal;
    font-stretch: normal;
    font-weight: 500;

    src: url('https://code.s3.yandex.net/fonts/front/Inter-SemiBold.woff2') format('woff2'), url('https://code.s3.yandex.net/fonts/front/Inter-SemiBold.woff') format('woff');
}