.edit-form__save-button {
  display: flex;
  padding: 0;
  /* width: 238px;
  height: 46px; */
  margin: 45px auto 0 auto;
  border: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  border-radius: 2px;
  background-color: black;
  color: white;
  padding: 14px 82px;

}

@media screen and (min-width: 768px) {
  .edit-form__save-button {
    /* width: 358px;
    height: 50px; */
    padding: 14px 124px 18px 124px;
    margin-top: 48px;
    background-color: black;
    font-size: 18px;
    line-height: 22px;

  }
}
.edit-form__save-button:hover{
  opacity: 0.8;
  cursor: pointer;
}