.edit-form__container-input-underline {
  margin: 13px auto 0 auto;
  opacity: 0.2;
  z-index: 4;
  display: flex;
  width: 238px;
  border: none;
  border-top: 1px solid black;
}
@media screen and (min-width: 768px) {
  .edit-form__container-input-underline  {
    width: 358px;
  }
}